<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>farmEasy</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="" style="background-image: url('/images/background1.jpg');">
  <header class="fixed top-0 left-0 right-0 z-50 bg-gray-900 text-white shadow-sm">
    <div class="container mx-auto flex h-16 items-center justify-between px-4 md:px-6">
      <div class="text-xl font-bold">
        farmEasy
      </div>
      <nav class="hidden space-x-4 md:flex">
        <a href="/home" class="text-gray-300 hover:text-gray-100 transition-colors">
          Home
        </a>
        <a class="text-gray-300 hover:text-gray-100 transition-colors" href="/services">
          Services
        </a>
        <a href="/aboutus" class="text-gray-300 hover:text-gray-100 transition-colors">
          About Us
        </a>
        <div>
          {{userName}}
        </div>
        {{#unless signOutBtn}}
        <a class="text-gray-300 hover:text-gray-100 transition-colors" href="/logout">
          Sign out
        </a>
        {{/unless}}
      </nav>
    </div>
  </header>
  {{>devinfo}}
  {{>footer}}
</body>

</html>