<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>farmEasy</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex flex-col items-center justify-center min-h-screen"
  style="background-image: url('/images/background1.jpg');">
  <header class="fixed top-0 left-0 right-0 z-50 bg-gray-900 text-white shadow-sm">
    <div class="container mx-auto flex h-16 items-center justify-between px-4 md:px-6">
      <div class="text-xl font-bold">
        farmEasy
      </div>
      <nav class="hidden space-x-4 md:flex">
        <div><a href="/">Home</a></div>

      </nav>
    </div>
  </header>
  <selection class="container">
    <h1 style="
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
">Contact Us</h1>
  </selection>
  <main class=" pt-16 container" style="
    text-align: center;
    padding-top: 0px;
    padding-right: 24px;
    padding-left: 24px;
">
    <p>If you have any questions, feedback, or need assistance, please don't hesitate to reach out to us. You can
      contact the farmEasy team by emailing us at kuldeepdilliwar@gmail.com, or by filling out the form on our website.
      We are dedicated to providing you with the support you need and will do our best to respond to your inquiries as
      quickly as possible. Thank you for choosing farmEasy!</p>
  </main>
  <footer class="fixed bottom-0 left-0 right-0 bg-gray-900 text-white py-4 mt-auto w-full">
    <div class="container mx-auto px-4 md:px-6 flex flex-col md:flex-row justify-between items-center">
      <p class="text-sm">© 2023 farmEasy. All rights reserved.</p>
      <nav class="space-x-4 mt-4 md:mt-0">
        <a href="/privacypolicy" class="text-gray-400 hover:text-gray-300 transition-colors">
          Privacy Policy
        </a>
        <a class="text-gray-400 hover:text-gray-300 transition-colors" href="/tandc">
          Terms of Service
        </a>
        <a class="text-gray-400 hover:text-gray-300 transition-colors" href="/contect">
          Contact Us
        </a>
      </nav>
    </div>
  </footer>
</body>

</html>