<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forbidden</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
    <div class="flex h-screen w-full items-center justify-center bg-gray-300 dark:bg-gray-900" data-id="1">
        <div class="flex flex-col items-center space-y-4" data-id="2">
            <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200" data-id="3">{{msg}}
                page</h1><a data-id="4"
                class="inline-flex h-10 items-center justify-center rounded-md bg-gray-900 px-6 py-2 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-gray-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:bg-gray-50 dark:text-gray-900 dark:hover:bg-gray-50/90 dark:focus-visible:ring-gray-300"
                href="/" style="background-color:#73CC1A">
                Go to Home
            </a>
        </div>
    </div>
</body>

</html>